*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.image{
	width: 100%;
	height: 550px;
	border: 1px solid #bbb;
}
#sliderBoard{		/*div*/
	width: 60%;
	height: 600px;
	margin: 50px auto;
	/* background-color: rgb(204, 99, 99); */

	overflow: hidden;
}
#content{			/*ul*/
	position: relative;
}
#content li{		/*li*/
	float: left;
}

/*click button*/
#contentButton{
	width: 100%;
	height: 50px;

	text-align: center;
}
#contentButton li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ccc;

	display: inline-block;
	margin: 5px;
}
#contentButton li.clickMe{
	background: #888;
}
